html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


@tailwind base;
@tailwind components;

.button{
  @apply text-base font-medium border-[1px] border-solid border-black h-10 px-4 rounded hover:text-white hover:bg-red-400;
}
.sideBar_btn{
  @apply flex flex-row justify-between items-center gap-1 md:gap-2.5 md:p-3 p-1.5 hover:bg-slate-950;
}
.sideBar_h2{
  @apply mx-2 font-medium md:text-sm text-xs;
}
.field_btn{
  @apply h-10 justify-between items-center w-1/2 bg-slate-800 hover:bg-slate-950 hover:border-b-4 hover:border-red-700;
}
.section_btn{
  @apply flex items-center justify-center text-white md:text-xs text-[8px] h-6 mr-2 md:mr-4 w-fit px-2 md:w-20 rounded-2xl;
}
@tailwind utilities;



body {
  width: 100vw;
  min-height: 100vh;
  color: #242424;
}

::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a2a2;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}